{{template "header"}}
  <form method="GET" action="/result">
    <label>Target #1:
      <input type="text" name="target1">
    </label>
    <label>Target #2:
      <input type="text" name="target2">
    </label>
    <input type="submit">
  </form>
{{template "footer"}}
